<div class="main-user-box">
    <div class="user-header"> 
        <button class="logout-btn"> Logout </button>
    </div>
    <div class="user-profile-layout">
        <div class="user-profile-box">
            <div class="user-img"> </div>
            <p class="user-text-name"> Fristname - Lastname </p>
        </div>
    </div>
    <div class="user-content-layout">
        <div class="user-content-box"> 
            <p style="font-size: 22px ; color: #306ed1 ; margin: 25px 0px 0px 40px ;"> User01 </p>
            <div class="content-img"></div>
            <p style="font-size: 18px ; margin-left: 40px ;"> Comment : </p>
        </div>
        <div class="user-content-box"> 
            <p style="font-size: 22px ; color: #306ed1 ; margin: 25px 0px 0px 40px ;"> User01 </p>
            <div class="content-img"></div>
            <p style="font-size: 18px ; margin-left: 40px ;"> Comment : </p>
        </div>
        <div class="user-content-box"> 
            <p style="font-size: 22px ; color: #306ed1 ; margin: 25px 0px 0px 40px ;"> User01 </p>
            <div class="content-img"></div>
            <p style="font-size: 18px ; margin-left: 40px ;"> Comment : </p>
        </div>
        <div class="user-content-box"> 
            <p style="font-size: 22px ; color: #306ed1 ; margin: 25px 0px 0px 40px ;"> User01 </p>
            <div class="content-img"></div>
            <p style="font-size: 18px ; margin-left: 40px ;"> Comment : </p>
        </div>
        <div class="user-content-box"> 
            <p style="font-size: 22px ; color: #306ed1 ; margin: 25px 0px 0px 40px ;"> User01 </p>
            <div class="content-img"></div>
            <p style="font-size: 18px ; margin-left: 40px ;"> Comment : </p>
        </div>
    </div>
</div>