.sign-up-box {
    position: relative ;
    width: 600px ;
    height: 500px ;
    border: solid lightgrey 1.5px ;
    border-radius: 8px ;
    margin: 150px auto ;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.sign-up-layout {
    width: 90% ;
    margin: 25px auto ;
}

.sign-up-btn {
    position: absolute ;
    bottom: 15px ;
    right: 30px ;
    width: 85px ;
    height: 30px ;
    border: none ;
    border-radius: 4px ;
    font-size: 15px ;
    color: #ffffff ;
    background-color: #306ed1 ;
}

.sign-up-btn:focus {
    outline: none ;
}

.sign-up-btn:hover {
    background-color: #3881f5 ;
}